<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Spotify" target="_blank" href="https://open.spotify.com/artist/26L4tb9CKDnBho4v3CVg19"><i class="icon fa fa-spotify" aria-hidden="true"></i></a>
        <a aria-label="Soundcloud" target="_blank" href="https://soundcloud.com/sasyuk"><i class="icon fa fa-soundcloud" aria-hidden="true"></i></a>
        <a aria-label="Twitter" target="_blank" href="https://twitter.com/sasyuk_music"><i class="icon fa fa-twitter" aria-hidden="true"></i></a>
        <a aria-label="E-Mail" target="_blank" href="mailto:sasyuk.music@gmail.com"><i class="icon fa fa-envelope" aria-hidden="true"></i></a>
       </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
